body {
  text-align: center;
  padding: 50px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
  font-size: 1.2rem;
}

p ~ p {
  display: inline-block; /* p elements for Date amd place are side by side  */
  padding-right: 1.5em;
  margin: 2em auto;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
}

hr,
section {
  width: 80%;
  margin: 0 auto;
}

section {
  width: 30%; /* so sections fit as inline blocks  */
  display: inline-block;
  text-align: left; /* so list are aligned to the left */
  vertical-align: top;
  margin: 1.5em 0;
}

section h2 {
  text-align: center;
}

ul {
  padding-left: 20px;
  margin: 0 auto;
}
