body {
  text-align: center;
  padding: 50px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
}

hr {
  border: none;
  height: 2px;
  background-color: black;
}

hr,
section {
  width: 80%;
  margin: 0 auto;
}

.highlights {
  margin-top: 80px;
}
